{% assign handle =  data.firstName | append: data.lastName | slugify %}
<li class="board-member {{data.group}}">
  <h3 class="board-member__title">{% if data.role %}{{ data.role }}:{% endif %} {{ data.firstName }} {{data.lastName}}</h3> 
    {% if data.group != 'officer' and data.state %}
    <p class="board-member__state">({{ data.state }})</p>
  {% endif %}
  {% if data.address1 %}
    <p>{{ data.address1 }}</p>
  {% endif %}
  {% if data.address2 %}
    <p>{{ data.address2 }}</p>
  {% endif %}
  {% if data.bio %}
  <details class="stack board-member__bio">
    <summary class="link">Bio</summary>
    {{ data.bio }}
    </details>
  {% endif %}
</li>