<nav class="nav">
    <div class="nav__button-bar hidden-large">
      <button
        class="nav__toggle"
        aria-controls="menuItems"
        aria-expanded="false"
        aria-label="Expand navigation">
        <span class="nav__open-icon">{{ '/_includes/icons/menu.svg' | svgContents }}</span>
        <span class="hidden nav__close-icon">{{ '/_includes/icons/cross.svg' | svgContents }}</span>
      </button>
      <header><a href="/">{{ meta.title }}</a></header>
    </div>
    <div class="nav__logo hidden-medium">
        <a aria-label="home" href="/">{% image "./images/logo.jpg", "Harlan Family of America logo", "300px", "300,600" %}</a>
    </div>
    <ul
        class="nav__link-list reset stack hidden-medium"
        id="menuItems">
        {% include'navigation-quick', data: navigation-quick-data %}
        {% for section in data %}
            <p class="nav__section-title">{{section.name}}</p>
            {% for item in section.pages %}
              {% assign navDataKey = item.key | append: "/"%}
              {% if page.url == navDataKey %}
                  {% assign activeClasses = 'active'%}
                  {% assign currentAttribute = 'aria-current="page"' %}
              {% else %}
                  {% assign activeClasses = null %}
                  {% assign currentAttribute = null %}
              {% endif %}
              <li class="{{activeClasses}}" {{currentAttribute}}>
                  <a class="link" href="{{item.key}}">{{item.title}}</a>
              </li>
            {% endfor %}
        {% endfor %}
        <div class="nav__social">
          {% for social in social-media %}
            {% assign iconPath = "/_includes/icons/" | append: social.icon %}
            <a href="{{social.url}}"><span class="visually-hidden">{{social.name}}</span>{{ iconPath | svgContents }}</a>
          {% endfor %}
        </div>
    </ul>
</nav>
