<div class="stack">
  {% markdown %}
    {%- render "content/who-intro.md" -%}
  {% endmarkdown %}
    <h2>Contents</h2>
    <ul class="toc stack">
    {% for article in whos-who %}
      {% assign slug = article.title | slugify %}
      <li>
        <a href="#{{slug}}">{{article.title}}</a>
      </li>
    {% endfor %}
    </li>
    </ul>
  {% for article in whos-who %}
    {% assign slug = article.title | slugify %}
    <article id={{slug}} class="article stack">
      <h2 class="article__title">{{article.title}}</h2>
      {% if article.image %} 
        {% assign path = "./images/" | append: article.image %}
        {% image path, "", "300px" %}      
      {% endif %}
      {{ article.text }}
      {% if article.by %}
        <p class="article__by">Submitted by {{ article.by }}</p>
      {% endif %}
    </article>
  {% endfor %}
</div>


