---
title: News and Updates
pagination:
  alias: posts
  data: collections.post
  size: 10
  reverse: true
---

<ul>
  {% for post in posts %}
    <li id="{{post.fileSlug}}" class="pt-4">
      <a class="text-xl" href="{{post.url}}">{{post.data.title}}</a>
      <p>{% prettyDate post.data.date %} | {{post.data.description}}</p>
      <a href="{{post.url}}">Read more</a>
    </li>
  {% endfor %}
</ul>
{% include'pagination', pagination: pagination %}