<style>
  .table-wrapper {
    width: 100%;
    overflow: auto;
  }
</style>

{% assign col1 = "Name" %}
{% assign col2 = "From" %}
{% assign col3 = "Descendant of (Reference # in the book by Alpheus Harlan or oldest known relative)" %}

<div class="stack">
  <p>All Harlans/Harlands/Harlins or relations can have their names and ancestors listed in these pages if they so desire. We ask that you provide your line of ancestors covered in the "History and Genealogy of the Harlan Family" by Alpheus H. Harlan, if possible. If your line is not covered in the book, list the name of your oldest known ancestors along with the location and date of their births. Please include the name of your state of residence which is most useful where duplications in names occur.</p>
  <p>If you wish to contact a person listed, send your request to [Gerry Harlan Lundgren](mailto:gerrylun@myfmtc.com). She maintains an updated list of email addresses and will forward your request on to the proper person. That person will contact you directly if they so desire.</p>
  <p>We also have a <a href="#sites">list of websites hosted by Harlan family members</a>.</p>
  <form class="search-form">
    <label for="cousin-search">Search all or part of a name
    </label>
    <input
      class="input"
      id="cousin-search"
      name="query"
      type="text" />
    <button class="button" type="submit">Search</button>
    <button class="button" type="reset">Reset</button>
  </form>
  <div class="table-wrapper">
  <p class="hidden" id="noResults">There are no names that match your search.</p>
  <table data-table>
    <tr>
      <th style="width: 25%">{{ col1 }}</th>
      <th>{{ col2 }}</th>
      <th>{{ col3 }}</th>
    </tr>
    {% for cousin in cousins %}
      <tr data-name="{{ cousin.name | downcase }}">
        <td>{{cousin.name}}</td>
        <td>{{cousin.from}}</td>
        <td>{{cousin.descendantOf}}</td>
      </tr>
    {% endfor %}
  </table>
  </div>
</div>
<div id="sites">
  <h2>Websites hosted by Harlan family members</h2>
  <ul>
  {% for site in cousins-sites %}
    <li><a href="{{site.url}}">{{site.title}}</a></li>
  {% endfor %}
  </ul>
</div>
{% capture js %}
  (function(){

  const table = document.querySelector('[data-table]');
  const rows = document.querySelectorAll('[data-name]');
  const form = document.querySelector("form.search-form");
  const noResultsEl = document.querySelector("#noResults");

  form.addEventListener("submit", (event) => {
    event.preventDefault();
    const query = (event.target.elements.query.value || "").toLowerCase();
    let noResults = true;
    
    rows.forEach(row => {
      if (row.dataset.name.includes(query)) {
        row.classList.remove('hidden');
        noResults = false;
      } else {
        row.classList.add('hidden')
      }
    })

    if (noResults) {
      noResultsEl.classList.remove('hidden');
      table.classList.add('hidden');
      } else {
      noResultsEl.classList.add('hidden');
      table.classList.remove('hidden');

    }
  })

  form.addEventListener("reset", (event) => {
    table.classList.remove('hidden');
    noResultsEl.classList.add('hidden');
    rows.forEach(row=>row.classList.remove('hidden'));
  })

})()
{% endcapture %}

<script>
  {{ js | jsmin }}
</script>
